.sender-message {
    background-color: #e09132;
    padding: 8%;
    border-radius: 0px 20px 20px 20px;
    
}

.receiver-message {
    background-color: bisque;
    padding: 8%;
    border-radius: 0px 20px 20px 20px;
    color: #424530;
}
