<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <h1>Booking Form</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card class="card-style">
    
  
    <ion-card-content>
      
      <form (ngSubmit)="bookingForm()" class="ion-margin">
        <img alt="Silhouette of mountains" src="/assets/booking_form_illustration.svg" />
        <ion-item>
          <ion-label>Biodegradable: </ion-label>
          <ion-input (change)="changeTotal($event)" class="ion-text-end" [(ngModel)]="values.biodegradable" name="biodegradable" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Non Biodegradable: </ion-label>
          <ion-input (change)="changeTotal($event)" [(ngModel)]="values.non_biodegradable" class="ion-text-end" name="non_biodegradable" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Recyclable: </ion-label>
          <ion-input (change)="changeTotal($event)" [(ngModel)]="values.recyclable" class="ion-text-end" name="recyclable" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Payment Method: </ion-label>
          <ion-select interface="popover" placeholder="Select" okText="Ok" cancelText="Cancel" [(ngModel)]="values.payment_mode" name="payment_mode">
            <ion-select-option value="cash">Cash</ion-select-option>
            <ion-select-option value="epayment">ePayment</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Delivery Fee: </ion-label>
          <ion-input name="delivery_fee" class="ion-text-end" value="{{ delivery_fee }}"  [readonly]="true"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Total Amount: </ion-label>
          <ion-input value="{{ values.payment_amount }}" name="payment_amount" class="ion-text-end" [readonly]="true"></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" color="primary" fill="solid" size="full">Book</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
