<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="light">
        <h1>Log in</h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div>
    <ion-card>
      <ion-card-content>
        <form (ngSubmit)="loginForm()">
          <ion-segment (ionChange)="segmentChanged($event)" value="default" color="primary">
            <ion-segment-button value="customer">
              <ion-label>Customer</ion-label>
            </ion-segment-button>
            <ion-segment-button value="collector">
              <ion-label>Collector</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="values.email" name="email" placeholder="Enter text" type="email" color="primary"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="values.password" name="password" placeholder="Enter text" type="password" color="primary"></ion-input>
          </ion-item>
          <br>
          <!-- <ion-button color="secondary" fill="clear" expand="full" size="small" class="ion-text-start">Forget email/password</ion-button> -->
          <ion-button type="submit" color="primary" fill="solid" size="full">Log in</ion-button>
          <ion-button color="primary" fill="clear" size="full" href="/register">Don't have an account? Sign up</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
